# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: João M.C. Teixeira
email: joaomcteixeira [at] gmail [dot] com
description: João M.C. Teixeira scientific webpage
twitter_username: joaomcteixeira
github_username: joaomcteixeira
minimal_mistakes_skin: air
search: true

# Build settings
markdown: kramdown
kramdown:
  parse_block_html: true
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# These are the social media links appearing in the left panel
author:
  name   : "João M.C. Teixeira"
  avatar : "/assets/images/photo_joao_circle.jpeg"
  bio    : "Computational structural biologist modeling protein dynamics."
  links:
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "http://goo.gl/D5n37X"

    - label: "Pubmed"
      icon: "fa fa-book"
      url: "https://bit.ly/jmctpubmed"

    - label: "ORCID"
      icon: "fab fa-fw fa-orcid"
      url: "http://orcid.org/0000-0002-9113-0622"

    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/joaomcteixeira"

    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/joaomcteixeira/"

    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/joaomcteixeira"

    - label: "Instagram"
      icon: "fab fa-fw fa-instagram"
      url: "https://instagram.com/viviendocientificos"

    - label: "viviendomochileros"
      icon: "fas fa-fw fa-mountain"
      url: "https://www.viviendomochileros.com"

#footer:
#  links:
#    - label: "Twitter"
#      icon: "fab fa-fw fa-twitter-square"
#      url: "https://twitter.com/"
#    - label: "GitHub"
#      icon: "fab fa-fw fa-github"
#      url: "https://github.com/"
#    - label: "Instagram"
#      icon: "fab fa-fw fa-instagram"
#      url: "https://instagram.com/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

google_analytics: G-MXD8PFDC8R
